{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <header>
            {% block logo %}
                <div class="block block-logo">
                    <div class="side-log">
                        <img src="{{ asset('images/logo_blog.jpg') }}">
                    </div>
                </div>
            {% endblock %}
            {% block layout %}
                <div class="block block-layout">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('homepage') }}profile">
                            {{ app.user.username }}
                        </a> |
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('admin') }}">{{ 'admin'|trans({}, 'FOSUserBundle') }}</a> |
                            <a href="{{ path('sonata_admin') }}">Sonata {{ 'admin'|trans({}, 'FOSUserBundle') }}</a> |
                        {% endif %}
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> |
                        <a href="{{ path('homepage') }}register">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
            {% endblock %}
            {% block main_menu %}
                <div class="main-menu" id="menu_main_menu">
                    <div class="type-menu">
                        <ul>
                            <li><a href="{{ path('homepage') }}">Головна</a></li>
                            <li><a href="{{ path('homepage') }}">Блог</a></li>
                            <li><a href="{{ path('about_us') }}">Про нас</a></li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </header>
    {% endblock %}

    {% block content %}
        <div id="main_container">
            {% block side_title %}
                <div class="page-title" id="page-title">
                    <h1>{% block page_title %}{% endblock %}</h1>
                </div>
            {% endblock %}

            <main class="{% block main_class %}{% endblock %}">
                {% block main %}

                {% endblock %}
            </main>
        </div>
    {% endblock %}

    {% block footer %}
        <footer role="contentinfo">
            <div class="block block-copyright">
                Copyright &copy; 2017. Moroz Taras. All right reserved.
            </div>
        </footer>
    {% endblock %}

{% endblock %}