{% extends '::page.html.twig' %}

{% block title %} Про нас | Блог 2017{% endblock %}

{% block page_title %}Про нас{% endblock %}

{% block main %}
    <article>
        <div class="container blog-container">
            <div class="field field-body">
                <table>
                    <tr>
                        <td>
                            <center>
                                <img id="img_author" src="{{ asset('images/about_us.jpg')}}"  width='50%'/>
                            </center>
                        </td>
                        <td>
                            <p>Вітаю Вас на моєму сайті. Мене звати Мороз Тарас.<br>
                                Цей блог зроблено спеціально для удосконалення поглиблиблених знань на framework Symfony3
                                Початок розробки: вересень 2017 року.
                            </p>

                            <div class="field_created">
                                <center><strong>Контакти</strong></center>
                                <img id="img_phone" src="{{ asset('images/mobile_icon.jpg')}}"  width='4%'/> 098-852-16-75, 050-071-38-60<br>
                                <img id="img_viber" src="{{ asset('images/viber_icon.png')}}"  width='4%'title="Viber"/> 098-852-16-75<br>
                                <img id="img_vk" src="{{ asset('images/vk_icon.png')}}"  width='4%'/>
                                <a href="http://vk.com\moroztaras">Мороз Тарас</a><br>
                                <img id="img_skype" src="{{ asset('images/skype_icon.png')}}"  width='4%'/> tarasmoroz<br>
                                <img id="img_email" src="{{ asset('images/email_icon.jpg')}}"  width='4%'/> moroztaras@i.ua<br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </article>
    {{ form(form_create_message) }}
{% endblock %}