<header>
    <h3>Пошук</h3>
</header>
<div id="input_search">
    <form method="get" name="form_search" action="{{ path('search') }}">
        <input name="search">
        <button>Шукати</button>
    </form>
</div>
<section class="section">
    <header>
        <h3>Теги</h3>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
        <span class="weight-{{ weight }}"><a href="{{ path('tag', {tag : tag}) }}">{{ tag }}</a></span>
        {% else %}
            <p>Немає тегів</p>
    {% endfor %}
    </p>
</section>
<section class="section">
    <header>
        <h3>Останні коментарі</h3>
    </header>
    {% for comment in latestComments %}
        <article class="comment">
            <header>
                <p class="small"><span class="highlight"><a href="{{ path('user_profile_view', {id : comment.user.id}) }} ">{{ comment.user.account.lastName }} {{ comment.user.account.firstName }}</a></span> прокоментував
                    <a href="{{ path('blog_view', {id : comment.blog.id, slug : comment.blog.slug}) }}#comment-{{ comment.id }}">
                        {{ comment.blog.title }}
                    </a>

                    <em><time datetime="{{ comment.created|date("d-m-Y") }}">{{ comment.created|date("d-m-Y") }}</time></em>
                </p>
            </header>
            <p>{{ comment.comment }}</p>
            </p>
        </article>
    {% else %}
        <p>Останні коментарі відсутні</p>
    {% endfor %}
</section>