{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p>Ім'я: <span class="highlight">{{ comment.user }}</span> прокоментовано: <time datetime="{{ comment.created|date("d-m-Y H:m") }}">{{ comment.created|date("d-m-Y H:m") }}</time></p>
        </header>
        <p>{{ comment.comment }}</p>
    </article>
{% else %}
    <p>Немає коментарів для цього посту. Будьте першим хто залишить свій коментар...</p>
{% endfor %}