{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block title %}Блог 2017 | Повідомлення{% endblock %}

{% block sonata_page_content_header %}
    <h1>Повідомлення</h1>
{% endblock %}

{% block sonata_admin_content %}
    <div class="sonata-ba-content">
        <div class="row">
            <div class="col-md-12">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="panel panel-default">
                        <div class="panel-body bg-success">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}

                {% if messages %}
                    <div class="box box-info">
                        <div class="box-body">
                            <table class="table table-striped">
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Дата</th>
                                    <th class="text-center">Автор</th>
                                    <th class="text-center">Повідомлення</th>
                                    <th></th>
                                </tr>
                                {% for message in messages %}
                                    <tr>
                                        <td class="text-center">{{ message.id }}</td>
                                        <td class="text-center">{{ message.created|date("d-m-Y H:m") }}</td>
                                        <td class="text-center">{{ message.name }}</td>
                                        <td class="text-center"><a href="{{ path('sonata_admin_message_view', {'id': message.id}) }}">{{ message.message }}</a></td>
                                        <td class="actions">
                                            <a class="btn btn-danger" href="{{ path('sonata_admin_message_delete', {'id': message.id}) }}"><span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock sonata_admin_content %}