{% extends 'BlogBundle::admin_layout.html.twig' %}

{% block page_top %}
    <a href="{{ path('homepage') }}">Головна сторінка</a> /
    <a href="{{ path('admin_blogs') }}">Адмін панель</a> /
    Блоги
{% endblock %}
{% block page_title %}Блоги | Адмін панель {% endblock %}

{% block main %}
    <nav>
        <ul class="menu-item">
            <li class="item">
                <a href="{{ path('admin_blog_create') }}">Створити пост</a>
            </li>
        </ul>
    </nav>
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
        <div class="block-messages">
            {{ message }}
        </div>
        {% endfor %}
    {% endfor %}
    <div class="view blog-view-admin">
        <div class="field-row">
            <table class="table table-blog">
                <tr>
                    <td id="id">ID</td>
                    <td id="title">Назва</td>
                    <td id="actions">Дії</td>
                </tr>
            {% for blog in blogs %}
                <tr>
                    <td class="id">{{ blog.id }}</td>
                    <td class="title">{{ blog.title }}</td>
                    <td class="actions">
                        <a href="{{ path('admin_blog_edit', {id : blog.id}) }}">Редагувати</a>
                        <a href="{{ path('admin_blog_delete', {id : blog.id}) }}">Видалити</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    {{ include("BlogBundle:Include:pagination.html.twig", { "pagination" : pagination }) }}
{% endblock %}