{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <header>
            {% block logo %}
                <div class="block block-logo">
                    <div class="side-log">
                        <img src="{{ asset('images/logo_blog.jpg') }}">
                    </div>
                </div>
            {% endblock %}
            {% block layout %}
                <div class="block block-layout">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('homepage') }}user/profile">
                            {{ app.user.username }}
                        </a> |
                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('admin') }}">Адмін панель</a> |
                            <a href="{{ path('sonata_admin') }}">Sonata адмін панель</a> |
                        {% endif %}
                        <a href="{{ path('homepage') }}logout">
                            Вихід
                        </a>
                    {% else %}
                        <a href="{{ path('login') }}">Вхід</a> |
                        <a href="{{ path('register') }}">Реєстрація</a>
                    {% endif %}
                </div>
            {% endblock %}
            {% block main_menu %}
                <div class="main-menu" id="menu_main_menu">
                    <div class="type-menu">
                        <ul>
                            <li><a href="{{ path('homepage') }}">Головна</a></li>
                            <li><a href="{{ path('homepage') }}">Блог</a></li>
                            <li><a href="{{ path('about_us') }}">Про нас</a></li>
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </header>
    {% endblock %}

    {% block content %}
        <table>
            <tr>
                <td class="left_block"></td>
                <td>
                    <div id="main_container">
                        <div id="page_top">{% block page_top %}{% endblock %}</div>
                        {% block side_title %}
                            <div class="page-title" id="page-title">
                                <h1>{% block page_title %}{% endblock %}</h1>
                            </div>
                        {% endblock %}

                        <main class="{% block main_class %}{% endblock %}">
                            {% block main %}

                            {% endblock %}
                        </main>
                    </div>
                </td>
                <td class="right_block">
                    <aside class="sidebar">
                        {% block sidebar %}{% endblock %}
                    </aside>
                </td>
            </tr>
        </table>
    {% endblock %}

    {% block footer %}
        <footer role="contentinfo">
            <div class="block block-copyright">
                Copyright &copy; 2017-2018. Moroz Taras. All right reserved.
            </div>
        </footer>
    {% endblock %}

{% endblock %}