{% extends 'BlogBundle::page.html.twig' %}

{% block main %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="block-messages">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <table>
        <tr>
            <td>
                <div id="img_avatar">
                    <img id="img_avatar" src="{{ asset('images/avatars/')}}{{ userAccount.avatarFileName }}"/>
                </div>
            </td>
            <td>
                <div class="user_info">
                    <p><span class="colortext">Імя:</span> {{ userAccount.firstName }}</p>
                    <p><span class="colortext">Прізвище:</span> {{ userAccount.lastName }}</p>
                    <p><span class="colortext">Опобліковано постів:</span> <a href="{{ path('user_profile_blogs', {'id':user.id}) }}">{{ count_blogs }}</a></p>
                    <p><span class="colortext">Логін:</span> {{ userAccount.user.username }}</p>
                    <p><span class="colortext">Email:</span> {{ userAccount.user.email }}</p>
                    <p><span class="colortext">Дата нородження:</span> {{ userAccount.birthday|date("d-m-Y") }}</p>
                    <p><span class="colortext">Країна:</span> {{ userAccount.region }}</p>
                    <p><span class="colortext">Дата реєстрації:</span> {{ userAccount.user.created|date("d-m-Y H:m") }}</p>
                </div>
            </td>
        </tr>
    </table>
    <div class="block block-layout">
        <p><a href="{{ path('user_edit') }}">Редагувати</a> | <a href="{{ path('user_password_recover') }}">Змінити пароль</a> | <a href="{{ path('homepage') }}logout">Вихід</a></p>
    </div>
{% endblock %}