{% extends 'BlogBundle::admin_layout.html.twig' %}

{% block page_title %} Коментарії | Адмін панель {% endblock %}

{% block main %}
    <div class="view blog-view-admin">
        <div class="field-row">
            <table class="table table-blog">
                <tr>
                    <td id="id">ID</td>
                    <td id="created">Дата</td>
                    <td id="title">Коментарії</td>
                    <td id="actions">Дії</td>
                </tr>
            {% for comment in comments %}
                <tr>
                    <td class="id">{{ comment.id }}</td>
                    <td class="created">{{ comment.created|date("d-m-Y H:m") }}</td>
                    <td class="send">
                        <a href="{{ path('blog_view', {id : comment.blog.id}) }}#comment-{{ comment.id }}">
                            {{ comment.comment }}
                        </a>
                    </td>
                    <td class="actions">
                        <a href="{{ path('admin_comment_delete', {id : comment.id}) }}">Видалити</a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    {{ include("BlogBundle:Include:pagination.html.twig", { "pagination" : pagination }) }}
{% endblock %}