{% extends 'BlogBundle::page.html.twig' %}

{% block description %}Блог на Symfony 3, статті про Symfony 3, автор Мороз Тарас, php програміст{% endblock %}
{% block keywords %}Блог на Symfony 3, статті про Symfony 3, автор Мороз Тарас, php програміст{% endblock %}
{% block title %}Головна | Блог 2017 {% endblock %}

{% block site_title %}{% endblock %}

{% block main %}
    <div class="blog-index-view">
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="block-messages">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% for blog in blogs %}
        <article class="block block-index">
            <h2 class="article-title">
                <a href="{{ path('blog_view', {'id':blog.id, 'slug': blog.slug}) }}">{{ blog.title }}</a>
            </h2>
            <div class="container blog-container">
                <div class="field field_created">
                    Автор: <a href="{{ path('user_profile_view', {'id':blog.user.id}) }}">{{ blog.user.account.lastName }} {{ blog.user.account.firstName }}</a> | {{ blog.created|date("d-m-Y H:m") }} | Переглядів: {{ blog.views }}
                </div>
                <div class="field field_image">
                    <img id="img_blog" src="{{ asset('images/blogs/')}}{{ blog.imageFileName }}"/>
                </div>
                <div class="field field-body-summary">
                    {{ blog.summary|raw }}
                </div>
                <div class="field field_tags">
                    Теги: <span class="highlight">{{ blog.tags }}</span>
                </div>
                <nav class="link-menu" role="navigation">
                    <ul>
                        <li class="read-more">
                            <a href="{{ path('blog_view', {'id':blog.id, 'slug': blog.slug}) }}">Подробиці</a>
                        </li>
                    </ul>
                </nav>
        </article>
    {% endfor %}
    </div>
    {{ include("BlogBundle:Include:pagination.html.twig", { "pagination" : pagination }) }}
{% endblock %}

{% block sidebar %}
    {{ render(controller('BlogBundle:Page:sidebar' ))}}
{% endblock %}