{% extends '::page.html.twig' %}

{% block title %}Головна | Блог 2017 {% endblock %}

{% block site_title %}{% endblock %}

{% block main %}
    <div class="blog-index-view">
    {% for blog in blogs %}
        <article class="block block-index">
            <h2 class="article-title">
                <a href="{{ path('blog_view', {'id':blog.id}) }}">{{ blog.title }}</a>
            </h2>
            <div class="container blog-container">
                <div class="field field_created">
                    {{ blog.created|date("d-m-Y H:m") }}
                </div>
                <div class="field field-body-summary">
                    {{ blog.summary|raw }}
                </div>
                <nav class="link-menu" role="navigation">
                    <ul>
                        <li class="read-more">
                            <a href="{{ path('blog_view', {'id':blog.id}) }}">Подробиці</a>
                        </li>
                    </ul>
                </nav>
        </article>
    {% endfor %}
    </div>
    {{ include("BlogBundle:Include:pagination.html.twig", { "pagination" : pagination }) }}
{% endblock %}