{% extends 'BlogBundle::page.html.twig' %}

{% block title %}{{ blog.title }} | Блог 2017{% endblock %}
{% block keywords %}{{ blog.tags }}{% endblock %}
{% block description %}{{ blog.description }}{% endblock %}

{% block page_title %}{{ blog.title }}{% endblock %}

{% block main %}
    <article class="block">
        <div class="container blog-container">
            <div class="field field_created">
                Автор: <a href="{{ path('user_profile_view', {'id':blog.user.id}) }}">{{ blog.user.account.lastName }} {{ blog.user.account.firstName }}</a> | Опобліковано: {{ blog.created|date("d-m-Y H:m") }} | Коментарі: {{ comments_count }} | Переглядів: {{ blog.views }}
            </div>
            <div class="field field-body">
                {{ blog.body|raw }}
            </div>
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Коментарі</h3>
            {% include 'BlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        <h3>Добавити коментарій</h3>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ render(controller( 'BlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
        {% else %}
            <div class="not_authenticated">
                Для додавання коментарів треба <a href="{{ path('login') }}">увійти</a> в систему.<br>
                Якщо Ви ще не зареєстровані на сайті, то спочатку <a href="{{ path('register') }}">зареєструйтеся</a>.
            </div>
        {% endif %}
    </section>
{% endblock %}