{% extends '::page.html.twig' %}

{% block title %}{{ blog.title }} | Блог 2017{% endblock %}

{% block page_title %}{{ blog.title }}{% endblock %}

{% block main %}
    <article class="block">
        <div class="container blog-container">
            <div class="field field_created">
                Опобліковано: {{ blog.created|date("d-m-Y H:m") }}
            </div>
            <div class="field field-body">
                {{ blog.body|raw }}
            </div>
        </div>
    </article>
    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Коментарі</h3>
            {% include 'BlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        <h3>Добавити коментарій</h3>
        {{ render(controller( 'BlogBundle:Comment:new', { 'blog_id': blog.id } )) }}
    </section>
{% endblock %}